In [2]:
import pandas as pd

In [3]:
# The path to the CSV file
file = "Resources/purchase_data.csv"

# Read Purchase_Data into Pandas
purchase_df = pd.read_csv(file)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Caluculate the total number of players (players counted by SN)
players_df = purchase_df["SN"].nunique()
players_df

576

In [5]:
# Create total players data frame 
total_players_df = pd.DataFrame({"Total Players":[players_df]})
total_players_df

   Total Players
0            576

In [6]:
# Calculate the number of unique items
items_df = purchase_df["Item Name"].nunique()
items_df

179

In [7]:
# Calculate the average purchase price
average_price_df = purchase_df["Price"].mean()
average_price_df

3.050987179487176

In [8]:
# Calculate the number of purchases
total_purchases_df = purchase_df["Price"].count()
total_purchases_df

780

In [9]:
# Calculate the total revenue
total_revenue_df = purchase_df["Price"].sum()
total_revenue_df

2379.77

In [10]:
# Create purchasing analysis Data Frame
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[items_df],
                                      "Average Purchase Price":[average_price_df],
                                      "Total Number of Purchases":[total_purchases_df],
                                      "Total Revenue":[total_revenue_df]})

purchasing_analysis_df = purchasing_analysis_df.round(2)
purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Number of Purchases"] = purchasing_analysis_df["Total Number of Purchases"].map("{:,}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)
purhcasing_analysis_df = purchasing_analysis_df.loc[:,["Number of Unique Items", "Average Purchase Price", "Total Number of Purchases", "Total Revenue"]]
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [11]:
# Calculate the number of players by gender
gender_df = purchase_df.groupby("Gender")["SN"].nunique()                                  
gender_df.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [12]:
# Calculate the percentage of each gender
gender_percentage_df = gender_df/576 *100
gender_percentage_df.round(2)

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [13]:
# Gender demographics Data Frame
gender_demographics_df = pd.DataFrame({"Total Count": gender_df,
                                       "Percentage of Players": gender_percentage_df})

gender_demographics_df = gender_demographics_df.round(2)
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:,.2f}%".format)
gender_demographics_df = gender_demographics_df.reindex(index = ['Male','Female','Other / Non-Disclosed'])
gender_demographics_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [14]:
# Calculate the purchase count by gender
gender_purchase_df = purchase_df.groupby("Gender")["Item ID"].count()
gender_purchase_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item ID, dtype: int64

In [15]:
# Calculate average purchase price by gender
gender_average_price_df = purchase_df.groupby("Gender")["Price"].mean()
gender_average_price_df

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [16]:
# Calculate total purchase value by gender 
gender_total_revenue_df = purchase_df.groupby("Gender")["Price"].sum()
gender_total_revenue_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [17]:
# Calculate the average total per person by gender
gender_average_total_df = gender_total_revenue_df/gender_df
gender_average_total_df.round(2)

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [18]:
# Create purchasing analysis by gender data frame 
gender_purchasing_df = pd.DataFrame({"Purchase Count": gender_purchase_df,
                                    "Average Purchase Price": gender_average_price_df,
                                    "Total Purchase Value": gender_total_revenue_df,
                                    "Avg Total per Person":gender_average_total_df})

gender_purchasing_df = gender_purchasing_df.round(2)
gender_purchasing_df["Average Purchase Price"] = gender_purchasing_df["Average Purchase Price"].map("${:,.2f}".format)
gender_purchasing_df["Total Purchase Value"] = gender_purchasing_df["Total Purchase Value"].map("${:,.2f}".format)
gender_purchasing_df["Avg Total per Person"] = gender_purchasing_df["Avg Total per Person"].map("${:,.2f}".format)
gender_purchasing_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [19]:
# Create bins for ages in 4 year increments 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create labels for the bins
age_ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [20]:
# Slice the data and place it into bins
purchase_df["Age Range"] = pd.cut(purchase_df["Age"], bins=bins,right = True, labels=age_ranges)
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>=40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [21]:
# Calculate purchase count per age group
age_total_purchase_df =  purchase_df.groupby("Age Range")["SN"].nunique()
age_total_purchase_df

Age Range
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
>=40      12
Name: SN, dtype: int64

In [22]:
# Calculate the percentage of players in each age group
percentage_age_df = age_total_purchase_df /players_df * 100
percentage_age_df.round(2)

Age Range
<10       2.95
10-14     3.82
15-19    18.58
20-24    44.79
25-29    13.37
30-34     9.03
35-39     5.38
>=40      2.08
Name: SN, dtype: float64

In [23]:
# Create age demographics data frame
age_demographics_df = pd.DataFrame({"Total Count": age_total_purchase_df,
                                    "Percentage of Players": percentage_age_df})

age_demographics_df = age_demographics_df.round(2)
age_demographics_df["Percentage of Players"] = age_demographics_df["Percentage of Players"].map("{:,.2f}%".format)
age_demographics_df

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
>=40                12                 2.08%

In [24]:
# Create bins for ages in 4 year increments 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create labels for the bins
age_ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [25]:
# Slice the data and place it into bins
purchase_df["Age Range"] = pd.cut(purchase_df["Age"], bins=bins,right = True, labels=age_ranges)
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>=40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [26]:
# Calculate purchase count per age group
age_purchase_df = purchase_df.groupby("Age Range")["Item ID"].count()
age_purchase_df

Age Range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
>=40      13
Name: Item ID, dtype: int64

In [27]:
# Calculate average purchase price per age group 
age_average_price_df = purchase_df.groupby("Age Range")["Price"].mean()
age_average_price_df

Age Range
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
>=40     2.941538
Name: Price, dtype: float64

In [28]:
# Calculate the total purchase price per age group
age_total_price_df = purchase_df.groupby("Age Range")["Price"].sum()
age_total_price_df

Age Range
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
>=40       38.24
Name: Price, dtype: float64

In [29]:
# Calculate the average total price per person in age groups 
age_average_total_df = age_total_price_df / age_total_purchase_df
age_average_total_df

Age Range
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
>=40     3.186667
dtype: float64

In [31]:
# Create purchasing analysis by age data frame 
age_purchasing_df = pd.DataFrame({"Purchase Count": age_purchase_df,
                                    "Average Purchase Price": age_average_price_df,
                                    "Total Purchase Value": age_total_price_df,
                                    "Avg Total per Person":age_average_total_df})

age_purchasing_df = age_purchasing_df.round(2)
age_purchasing_df["Average Purchase Price"] = age_purchasing_df["Average Purchase Price"].map("${:,.2f}".format)
age_purchasing_df["Total Purchase Value"] = age_purchasing_df["Total Purchase Value"].map("${:,.2f}".format)
age_purchasing_df["Avg Total per Person"] = age_purchasing_df["Avg Total per Person"].map("${:,.2f}".format)
age_purchasing_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
>=40,13,$2.94,$38.24,$3.19

In [32]:
# Calulate total purchase value by screen name
SN_purchase_df = purchase_df.groupby("SN")["Price"].sum()
SN_purchase_df

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [33]:
# Calculate total purchase value by SN in order to find the top spenders 
top_spenders_df = purchase_df.groupby("SN")["Price"].sum()
top_spenders_df

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [34]:
# Calculate purchase count for top spenders
top_purchase_df = purchase_df.groupby("SN")["Item ID"].count()
top_purchase_df

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Item ID, Length: 576, dtype: int64

In [35]:
# Calculate average purchase price for top spenders
top_average_price_df = purchase_df.groupby("SN")["Price"].mean()
top_average_price_df

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [36]:
# Create top spenders sorted by total purchase value data frame
top_five_spenders_df = pd.DataFrame({"Purchase Count": top_purchase_df,
                                "Average Purchase Price": top_average_price_df,
                                "Total Purchase Value": top_spenders_df})

top_five_spenders_df = top_five_spenders_df.sort_values(["Total Purchase Value"], ascending=False)
top_five_spenders_df = top_five_spenders_df.round(2)
top_five_spenders_df["Average Purchase Price"] = top_five_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
top_five_spenders_df["Total Purchase Value"] = top_five_spenders_df["Total Purchase Value"].map("${:,.2f}".format)
top_five_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [37]:
# Retrieve the Item ID, Item Name, and Item Price for the data frame 
popular_items_df = purchase_df[["Item ID", "Item Name", "Price"]]

In [38]:
# Group by Item ID and Item Name
items_df = purchase_df.groupby(["Item ID", "Item Name"])

In [39]:
# Calculate purchase count for most popular items 
items_purchase_df = items_df.count()["SN"]
items_purchase_df

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: SN, Length: 179, dtype: int64

In [40]:
# Calculate average item price for most popular items 
items_average_df = items_df.mean()["Price"]
items_average_df

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [41]:
# Calculate total purchase value for most popular items
items_total_price_df = items_df.sum()["Price"]
items_total_price_df

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [42]:
# Create top spenders sorted by purchase count  data frame
most_popular_items_df = pd.DataFrame({"Purchase Count": items_purchase_df,
                                "Item Price": items_average_df,
                                "Total Purchase Value": items_total_price_df}) 

most_popular_items_df = most_popular_items_df.sort_values(["Purchase Count"], ascending=False)
most_popular_items_df = most_popular_items_df.round(2)
most_popular_items_df["Item Price"] = most_popular_items_df["Item Price"].map("${:,.2f}".format)
most_popular_items_df["Total Purchase Value"] = most_popular_items_df["Total Purchase Value"].map("${:,.2f}".format)
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [43]:
# Create top spenders sorted by total purchase value data frame
most_popular_items_df = pd.DataFrame({"Purchase Count": items_purchase_df,
                                "Item Price": items_average_df,
                                "Total Purchase Value": items_total_price_df}) 

most_popular_items_df = most_popular_items_df.sort_values(["Total Purchase Value"], ascending=False)
most_popular_items_df = most_popular_items_df.round(2)
most_popular_items_df["Item Price"] = most_popular_items_df["Item Price"].map("${:,.2f}".format)
most_popular_items_df["Total Purchase Value"] = most_popular_items_df["Total Purchase Value"].map("${:,.2f}".format)
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80