In [8]:
import pandas as pd

In [9]:
# The path to the CSV file
file = "Resources/purchase_data.csv"

# Read Purchase_Data into Pandas
purchase_df = pd.read_csv(file)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [18]:
# Caluculate the total number of players (players counted by SN)
players_df = df.groupby("SN")["SN"].nunique()
players_df.count()

#  Create a new df for "Total Players" with the column

players_df = df.loc[:, ["Total Players"]]
players_df()

NameError: name 'df' is not defined

In [16]:
# Calculate the number of unique items 
item_df = df.groupby("Item ID")["Item ID"].nunique()
item_df.count()

# Caluclate average purchase price

# Calculate total number of purchases 

# Calculate total revenue

NameError: name 'df' is not defined